<div class="row">
    <div class="col-sm-4">
        <div class="contenedor">
            <mat-card class="tarjeta">
            <mat-card-header>
                <div mat-card-avatar><img mat-card-image src="../../../../assets/facebook.png" class="circular"></div>
                <mat-card-title>Facebook</mat-card-title>
            </mat-card-header>
            <img mat-card-xl-image src="../../../../assets/facebook.png">
            <mat-card-content>
                <p> Centro social de Facebook</p>
                
            </mat-card-content>
            <mat-card-actions>
                <a button mat-flat-button color="primary" href="https://es-la.facebook.com/">Ingresar</a>
            </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="contenedor">
            <mat-card class="tarjeta">
            <mat-card-header>
                <div mat-card-avatar><img mat-card-image src="../../../../assets/instagram.png" class="circular"></div>
                <mat-card-title>Instagram</mat-card-title>
            </mat-card-header>
            <img mat-card-xl-image src="../../../../assets/instagram.png">
            <mat-card-content>
                <p> Centro social de Instagram</p>
                
            </mat-card-content>
            <mat-card-actions>
                <a button mat-flat-button color="primary" href="https://www.instagram.com/">Ingresar</a>
            </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="contenedor">
            <mat-card class="tarjeta">
            <mat-card-header>
                <div mat-card-avatar><img mat-card-image src="../../../../assets/twiter.jpg" class="circular"></div>
                <mat-card-title>Twitter</mat-card-title>
            </mat-card-header>
            <img mat-card-xl-image src="../../../../assets/twiter.jpg">
            <mat-card-content>
                <p> Centro social de Instagram</p>
                
            </mat-card-content>
            <mat-card-actions>
                <a button mat-flat-button color="primary" href="https://twitter.com/?lang=es">Ingresar</a>
            </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>